.succes{
	background-color: #c5e1a5;
	color: #689f38;
}

.info{
	background-color:#b3e5fc;
	color: #29b6f6;
}

.error{
	background-color:#FFAAAA;
	color: #c62828;
}

.bold{
	font-weight: 700;
}

/*Spin*/
@-moz-keyframes spin {
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    to {transform:rotate(360deg);}
}

.spin {
    animation: spin 1000ms linear infinite;
}