<div class="container padding" >
	<div class="row">
		<h2>[ngClass]</h2>
		<div class="divider"></div>
		<br>
		<h5 class="light">Adding/removing clases</h5>
		<div class="col l6 m12 s12"> 
			<div [ngClass]="alert" class="card-panel lighten-2 z-depth-0"><span class="bold">Well done!</span> You are learning about [ng directives]</div>
		</div>
		<div class="col l2 m4 s4 " style="padding-top: 30px">
			<a class="waves-effect waves-light btn right light-blue darken-1 col s12" (click)="alert= 'info'">Info</a>		
		</div>
		<div class="col l2 m4 s4 " style="padding-top: 30px">
			<a class="waves-effect waves-light btn right  green col s12" (click)="alert='succes '">Succes</a>
		</div>
		<div class="col l2 m4 s4 " style="padding-top: 30px">
			<a class="waves-effect waves-light btn right red darken-1 col s12" (click)="alert=' error'">Error</a>
		</div>
	</div>

	<div class="row">
		<h5 class="light">Simulating an asynchronous process</h5>
		<div class="col l6">
			<button type="button" (click)="execute()" [disabled]="loading" class="waves-effect waves-light btn-large green"><i class="material-icons left" 
				[ngClass]="{'spin': loading}" >{{icon}}</i>
				<span *ngIf="loading">Wait...</span>
				<span *ngIf="!loading">Save</span>
			</button>
		</div>
	</div>
</div>